@tailwind base;
@tailwind components;
@tailwind utilities;

/* mapbox overrides */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0;
}

.multiple-items {
  overflow: hidden;
  min-width: 100%;
  width: 0;
 }

